sudo: required
dist: trusty

cache:
  directories:
    - ~/.ethash
  
language: node_js

node_js:
  - "6"

before_install:
  - sudo add-apt-repository -y ppa:ethereum/ethereum
  - sudo apt-get update
  - sudo apt-get install -y geth
  - mkdir -p ~/.ethereum
  - mkdir -p ~/.ethash
  - geth makedag 0 ~/.ethash

script:
  - "npm test"

notifications:
  email:
    - ram@hiddentao.com

